@(purchasers: List[Purchaser], purchaserForm: Form[String])

@import helper._

@main("Todo list") {
	
	<h1>@purchasers.size purchasers(s)</h1>
	
	<ul>
		@purchasers.map { purchaser =>
			<li>
				@purchaser.name
				
				@form(routes.Application.deletePurchaser(purchaser.id)) {
					<input type="submit" value="Delete" />
				}
			</li>
		}
	</ul>
    
	<h2>Add a new purchaser</h2>
	
	@form(routes.Application.newPurchaser) {
	
		@inputText(purchaserForm("name"))
		
		<input type="submit" value="Create" />
		
	}
	
	@form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
			
			<input type="file" name="picture">
			
			<p>
					<input type="submit">
			</p>
			
	}
	
}
